* {
  font-family: "Hind Madurai", sans-serif;
  box-sizing: border-box;
}

// NAVIGACIJOS STILIAI

.navbar {
  background: #fff;
  height: 80px;

  .navbar-brand {
    width: 72px;
    height: 44px;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }
  .navbar-brand:hover {
    color: #6b6767;
  }
  .navbar-nav {
    justify-content: end;
    align-items: center;
    gap: 48px;

    .nav-item {
      align-items: center;
      gap: 48px;

      .nav-link {
        color: #333;
        font-size: 16px;
        line-height: 22px;
      }
      .nav-link:hover {
        color: #b9aeae;
      }
      .btn {
        padding: 5px 16px;
        background: #1289af;
      }
      .btn:hover {
        color: #333;
        background: #106480;
      }
    }
  }
}

// HEADER STILIAI

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/cover.png);
  background-position: center;
  height: calc(100vh - 80px);
  background-size: cover;

  .container {
    .headerText {
      margin-top: 191px;

      h1 {
        color: #fff;
        font-size: 56px;
        font-weight: 600;
        line-height: 62px;
        letter-spacing: -2.8px;
        padding-bottom: 24px;
      }
      p {
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 4px;
        padding-bottom: 32px;
      }
    }
    .btn {
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      padding: 8px 16px;
      border-radius: 4px;
      background: #1289af;
    }
    .btn:hover {
      background: #0e5972;
    }
  }
}

// MAIN STILIAI

main {
  .container {
    margin-top: 31px;

    .mainContent {
      width: 770px;

      // ABOUT THE CLIENT STILIAI

      h2 {
        color: #333;
        font-size: 24px;
        font-weight: 600;
        line-height: 40px;
        margin-top: 32px;
        margin-bottom: 16px;
      }
      p {
        color: #666;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 32px;
      }
      .fotoCity {
        background-image: url(../img/cover.png);
        height: 424px;

        svg {
          margin: 180px 353px;
        }
      }

      // CHALLENGE STILIAI

      .Challenge {
        .container {
          margin-bottom: 64px;
        }
        .line {
          stroke-width: 6px;
          stroke: #1289af;
          width: 0px;
          height: 162.5px;
          margin-right: 24px;
        }
        h3 {
          width: 378px;
          color: #333;
          font-size: 28px;
          font-weight: 300;
          line-height: 40px;
        }
        .towers {
          margin-bottom: 8px;
        }
        p3 {
          color: #666;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      // SOLUTION STILIAI

      .Solution {
        .fotoAndtext {
          display: flex;
          gap: 32px;

          img {
            width: 372.969px;
            height: 209.544px;
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}
