* {
  box-sizing: border-box;
}
body {
  background-color: #959393;
}
.card {
  background-color: white;
  position: relative;
  display: flex;
  width: 276px;
  height: 364px;
  margin: 2rem auto;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}

h2 {
  color: var(--black-400-gray, #959393);
  line-height: 24px;
}
h3 {
  font-size: 20px;

  font-weight: 700;
  line-height: 24px;
}
.img {
  background-image: url("./Image.png");
  background-size: cover;
  width: 276px;
  height: 175px;
}
.calendar {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  position: absolute;
  padding: 1rem;
  top: 110px;
  right: 60px;
  border-radius: 12px;
  background-color: white;
}
.day {
  text-align: center;

  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.month {
  text-align: center;
}

.button button {
  height: 20px;
  margin: 10px;
}
.content {
  display: flex;
  padding: 47px 16px 40px;
  flex-direction: column;
  align-items: flex-start;
  bottom: 1px;
}
