* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
.grid {
  display: grid;
  text-align: center;
  margin: 1rem;
  background-color: rgb(151, 41, 41);
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(9, 1fr); */
  height: 100vh;
  gap: 1rem;
}

.item1 {
  background-color: aqua;
  grid-column: 1/6;
}
.item2 {
  background-color: rgb(182, 81, 140);
  grid-column: 1/5;
}
.item3 {
  background-color: rgb(80, 226, 43);
  grid-column: 5;
  grid-row: 2/4;
}
.item4 {
  background-color: blueviolet;
  grid-column: 1/3;
}
.item5 {
  background-color: rgb(79, 180, 146);
  grid-column: 3/5;
}
.item6 {
  background-color: rgb(114, 73, 73);
  grid-column: 2/4;
}
.item7 {
  background-color: rgb(156, 137, 173);
  grid-column: 5;
  grid-row: 4/6;
}
.item8 {
  background-color: rgb(179, 132, 61);
  grid-column: 1/4;
}
.item9 {
  background-color: rgb(44, 44, 146);
}
