header {
  background-color: rgb(144, 144, 185);
  color: white;
  padding: 3rem;
  margin-bottom: 3rem;
}
a {
  color: white;
  font-size: 30px;
  margin-right: 2rem;
  text-decoration: none;
}
.MainDiv {
  padding-top: 4rem 3rem 1rem;
  background-image: url("https://images.unsplash.com/photo-1682687982183-c2937a74257c?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D;");
  background-size: cover;
  height: 500px;
  text-align: center;
  fo

  color: white;
}
p {
  font-size: 25px;
}
main {
  border: 2px solid rgb(44, 39, 39);
  margin: 0 3rem;
  border-radius: 10px;
}
